In [1]:
import pandas as pd
# pd.set_option('max_colwidth', 50)
# set this if you need to

In [ ]:
killings = pd.read_csv('./data/police-killings.csv')
killings.head()

In [ ]:
# 1. Make the following changed to column names:
# lawenforcementagency -> agency
# raceethnicity        -> race

In [ ]:
# 2. Show the count of missing values in each column

In [ ]:
# 3. replace each null value in the dataframe with the string "Unknown"

In [ ]:
# 4. How many killings were there so far in 2015?

In [ ]:
# 5. Of all killings, how many were male and how many female?

In [ ]:
# 6. How many killings were of unarmed people?

In [ ]:
# 7. What percentage of all killings were unarmed?

In [ ]:
# 8. What are the 5 states with the most killings?

In [ ]:
# 9. Show a value counts of deaths for each race

In [ ]:
# 10. Display a histogram of ages of all killings

In [ ]:
# 11. Show 6 histograms of ages by race

In [ ]:
# 12. What is the average age of death by race?

In [ ]:
# 13. Show a bar chart with counts of deaths every month

In [ ]:
###################
### Less Morbid ###
###################

In [ ]:
majors = pd.read_csv('./data/college-majors.csv')
majors.head()

In [ ]:
# 1. Delete the columns (employed_full_time_year_round, major_code)

In [ ]:
# 2. Show the cout of missing values in each column

In [ ]:
# 3. What are the top 10 highest paying majors?

In [ ]:
# 4. Plot the data from the last question in a bar chart, include proper title, and labels!

In [ ]:
# 5. What is the average median salary for each major category?

In [ ]:
# 6. Show only the top 5 paying major categories

In [ ]:
# 7. Plot a histogram of the distribution of median salaries

In [ ]:
# 8. Plot a histogram of the distribution of median salaries by major category

In [ ]:
# 9. What are the top 10 most UNemployed majors?

In [ ]:
# What are the unemployment rates?

In [ ]:
# 10. What are the top 10 most UNemployed majors CATEGORIES? Use the mean for each category
# What are the unemployment rates?

In [ ]:
# 11. the total and employed column refer to the people that were surveyed.
# Create a new column showing the emlpoyment rate of the people surveyed for each major
# call it "sample_employment_rate"
# Example the first row has total: 128148 and employed: 90245. it's 
# sample_employment_rate should be 90245.0 / 128148.0 = .7042

In [ ]:
# 12. Create a "sample_unemployment_rate" colun
# this column should be 1 - "sample_employment_rate"

In [ ]:
###################
### More Tasty ###
###################

The Health Department has developed an inspection report and scoring system. 
After conducting an inspection of the facility, the Health Inspector calculates a score based on the violations observed. 
Violations can fall into:
- **high risk category**: records specific violations that directly relate to the transmission of food borne illnesses,the adulteration of food products and the contamination of food-contact surfaces.
- **moderate risk category**: records specific violations that are of a moderate risk to the public health and safety.
- **low risk category**: records violations that are low risk or have no immediate risk to the public health and safety.

In [2]:
businesses = pd.read_csv('./data/businesses_plus.csv', parse_dates=True, dtype={'phone_number': str})
businesses.head()

,business_id,name,address,city,postal_code,latitude,longitude,phone_number,TaxCode,business_certificate,application_date,owner_name,owner_address,owner_city,owner_state,owner_zip
0,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059,NaN,Tiramisu LLC,33 Belden St,San Francisco,CA,94104
1,19,Nrgize Lifestyle Cafe,"1200 Van Ness Ave, 3rd Floor",San Francisco,94109,37.786848,-122.421547,NaN,H24,NaN,NaN,24 Hour Fitness Inc,"1200 Van Ness Ave, 3rd Floor",San Francisco,CA,94109
2,24,OMNI S.F. Hotel - 2nd Floor Pantry,"500 California St, 2nd Floor",San Francisco,94104,37.792888,-122.403135,NaN,H24,352312,NaN,OMNI San Francisco Hotel Corp,"500 California St, 2nd Floor",San Francisco,CA,94104
3,31,Norman's Ice Cream and Freezes,2801 Leavenworth St,San Francisco,94133,37.807155,-122.419004,NaN,H24,346882,NaN,Norman Antiforda,2801 Leavenworth St,San Francisco,CA,94133
4,45,CHARLIE'S DELI CAFE,3202 FOLSOM St,S.F.,94110,37.747114,-122.413641,NaN,H24,340024,10/10/2001,"HARB, CHARLES AND KRISTIN",1150 SANCHEZ,S.F.,CA,94114

In [3]:
inspections = pd.read_csv('./data/inspections_plus.csv', parse_dates=True)
inspections.head()

   business_id  Score      date                   type
0           10    NaN  20140807  Reinspection/Followup
1           10     94  20140729  Routine - Unscheduled
2           10    NaN  20140124  Reinspection/Followup
3           10     92  20140114  Routine - Unscheduled
4           19     94  20141110  Routine - Unscheduled

In [4]:
violations = pd.read_csv('./data/violations_plus.csv', parse_dates=True)
violations.head()

,business_id,date,ViolationTypeID,risk_category,description
0,10,20140114,103154,Low Risk,Unclean or degraded floors walls or ceilings
1,10,20140114,103119,Moderate Risk,Inadequate and inaccessible handwashing facili...
2,10,20140114,103145,Low Risk,Improper storage of equipment utensils or linens
3,10,20140729,103129,Moderate Risk,Insufficient hot water or running water
4,10,20140729,103144,Low Risk,Unapproved or unmaintained equipment or utensils

In [8]:
# 1 Combine the three dataframes into one data frame called restaurant_scores
# Hint: http://pandas.pydata.org/pandas-docs/stable/merging.html
frames= [businesses, inspections, violations]
data= pd.concat(frames)
data.head(5)

,Score,TaxCode,ViolationTypeID,address,application_date,business_certificate,business_id,city,date,description,...,name,owner_address,owner_city,owner_name,owner_state,owner_zip,phone_number,postal_code,risk_category,type
0,NaN,H24,NaN,033 Belden Pl,NaN,779059,10,San Francisco,NaN,NaN,...,Tiramisu Kitchen,33 Belden St,San Francisco,Tiramisu LLC,CA,94104,NaN,94104,NaN,NaN
1,NaN,H24,NaN,"1200 Van Ness Ave, 3rd Floor",NaN,NaN,19,San Francisco,NaN,NaN,...,Nrgize Lifestyle Cafe,"1200 Van Ness Ave, 3rd Floor",San Francisco,24 Hour Fitness Inc,CA,94109,NaN,94109,NaN,NaN
2,NaN,H24,NaN,"500 California St, 2nd Floor",NaN,352312,24,San Francisco,NaN,NaN,...,OMNI S.F. Hotel - 2nd Floor Pantry,"500 California St, 2nd Floor",San Francisco,OMNI San Francisco Hotel Corp,CA,94104,NaN,94104,NaN,NaN
3,NaN,H24,NaN,2801 Leavenworth St,NaN,346882,31,San Francisco,NaN,NaN,...,Norman's Ice Cream and Freezes,2801 Leavenworth St,San Francisco,Norman Antiforda,CA,94133,NaN,94133,NaN,NaN
4,NaN,H24,NaN,3202 FOLSOM St,10/10/2001,340024,45,S.F.,NaN,NaN,...,CHARLIE'S DELI CAFE,1150 SANCHEZ,S.F.,"HARB, CHARLES AND KRISTIN",CA,94114,NaN,94110,NaN,NaN

In [43]:
# 2 Which ten business have had the most inspections?
#data[['name','business_id']].business_id.value_counts()
#data[['name','business_id']].sort_index(by='business_id')
data[['name','business_id']].business_id.value_counts()

71385    63
489      57
64176    56
71314    53
63082    51
75139    50
67154    50
65523    50
69799    49
1833     49
62882    49
2945     48
32698    48
10238    48
61161    46
10102    46
75230    46
37882    45
2331     45
7643     44
1458     44
75229    44
3151     44
33446    44
126      44
1912     43
77693    43
19076    43
74374    43
66212    43
         ..
74378     1
6553      1
76619     1
7182      1
6893      1
19175     1
37581     1
15498     1
85156     1
7374      1
64722     1
62675     1
12968     1
76427     1
83301     1
4268      1
7566      1
6573      1
65934     1
81386     1
39293     1
7694      1
63857     1
86773     1
34397     1
67181     1
82246     1
59635     1
6381      1
7001      1
Name: business_id, dtype: int64

In [39]:
data.groupby('name').business_id.value_counts()

name                                        business_id
 NORDSTROM CAFE BISTRO                      1674           1
 THE OLD CROW - spec event                  59822          1
100 Percent College Prep Institute (CACFP)  85861          1
100% Dessert Cafe                           37633          1
1001 Castro St                              67196          1
101 Super Mart, Inc.                        65512          1
1058 Hoagie                                 69758          1
111 Minna Gallery                           65776          1
12 Tribes Kosher Foods                      68597          1
1300 on Fillmore                            34647          1
1428 Haight                                 79117          1
1601 Bar & Kitchen                          69691          1
1760                                        75044          1
17TH & COLE MARKET                          7699           1
17th & Balboa Market                        81537          1
17th & Noe Market                           4474           1
18 Reasons                                  64717          1
18th St. Bar Inc. dba Toad Hall             37581          1
18th Street Commissary                      27350          1
1906 Mission                                80241          1
19th Ave Shell                              62768          1
19th Ave. Gas & Shop                        79411          1
19th Avenue Liquor                          57713          1
20 Spot Mission, LLC                        70856          1
2001 THAI STICK                             3910           1
20th Century Cafe                           73902          1
21 CLUB                                     4326           1
21 Taste House                              71286          1
21ST AMENDMENT BREWERY CAFE                 3397           1
2227 Irving Seafood Market Inc              83808          1
                                                          ..
Zazang Restaurant                           75452          1
Zazie                                       1595           1
Zcrepes                                     67160          1
Zee Cooks LLC                               75380          1
Zeitgeist                                   68799          1
Zeki's Bar Inc                              4027           1
Zelinsky                                    7464           1
Zenbelly                                    79434          1
Zero Zero                                   63597          1
Zest LLC                                    84000          1
Zesty Restaurant                            63208          1
Zhong Shan Restaurant                       76035          1
Zhu Family                                  83796          1
Ziggy's Burger & Grill                      65925          1
Zingari                                     3707           1
Zoe's                                       69884          1
Zoe's Paleo Delights                        79842          1
Zona Rosa                                   1159           1
Zoomaak                                     67806          1
Zpizza                                      65260          1
Zynga                                       66963          1
Zzan                                        82571          1
asdljdlst g fdh                             77922          1
flourChylde Bakery                          68128          1
                                            69562          1
haight                                      84548          1
iNoodles                                    84517          1
t.epiphany                                  80371          1
tacos san buena                             62277          1
toGather                                    85490          1
dtype: int64

In [31]:
# 3 Group and count the inspections by type
data.type.value_counts()

Routine - Unscheduled                15481
Reinspection/Followup                 5386
New Ownership                         1877
Complaint                             1634
New Construction                      1613
Non-inspection site visit              840
Complaint Reinspection/Followup        163
Structural Inspection                  120
Foodborne Illness Investigation        100
Routine - Scheduled                     63
Administrative or Document Review        4
Special Event                            2
Multi-agency Investigation               2
Name: type, dtype: int64

In [ ]:
# 4 Create a plot that shows number of inspections per month
# Bonus for creating a heatmap
# http://stanford.edu/~mwaskom/software/seaborn/generated/seaborn.heatmap.html?highlight=heatmap

In [46]:
# 5 Which zip code contains the most high risk violations?
zippy=data.groupby('owner_zip')
zippy.risk_cateogry="High Risk".val

In [ ]:
# 6 If inspection is prompted by a change in restaurant ownership, 
# is the inspection more likely to be categorized as higher or lower risk?

In [ ]:
# 7 Examining the descriptions, what is the most common violation?

In [ ]:
# 8 What street has the best (safest) restaurants to dine out at?

In [ ]:
# 9 Create a hist of the scores with 10 bins

In [ ]:
# 8 Extra Credit:
# Use Instagram location API to find pictures taken at the lat, long of the most High Risk restaurant
# https://www.instagram.com/developer/endpoints/locations/